header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 2px solid rgba(7, 7, 7, 0.452);
    width: 100%;
    padding: 0 2em;
    /* gap: 37em; */
    line-height: 1.5;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.2);
}
.logo {
    padding: 0;
    will-change: filter;
    transition: filter 300ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}
.logo:hover {
    filter: drop-shadow(0 0 5em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar{
    display: flex;
    align-items: center;
    gap: 2em;
    float: right;
}
.navbar li{
    list-style: none;
    font-size: 20px;
}
footer{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    color: white;
    padding: 1em;
}
footer .footer-cont{
    width: 30%;
}
footer .footer-cont h3 link{
    color: white;
}
footer .footer-cont .footer-input input{
    margin: 1em;
    width: 70%;
    height: 2.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;
    font-size: 15px;
    padding: 0 2em;
    outline: none;
}
footer .footer-cont .footer-input button{
    background-color: rgba(235, 82, 11, 0.856);
    height: 2.5em;
    border-radius: 0.5em;
    outline: none;
}
footer .footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
